.tab-bar {
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 5px 30px;
  border-top: 1px solid #c1c1c1;
}
.tab-bar .tab-bar_tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #b9b6b6;
  transition: transform 1s linear;
}
.tab-bar .tab-bar_tab :hover {
  transform: scale(1.1);
}

.tab-bar .tab-bar_tab i {
  display: flex;
  text-align: center;
  margin-bottom: 5px;
}
.tab-bar .tab-bar_tab--selected {
  color: #4c3432;
}
