.search-bar {
  padding: 10px 25px;
  position: relative;
}
.search-bar input {
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  border: 1px solid transparent;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: center;
  transition: border 0.5s linear;
}

.search-bar input:focus {
  outline: none;
  border: 1px solid #ffd94a;
}
.search-bar i {
  position: absolute;
  color: #bbbbbb;
  top: 14px;
  left: 40px;
}
